<form action="/posts" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="vq9SMVNk0CjwgZmYomFRhwbo5dfu7tI/2FiR7jOtlVgbj8r/zOO5oL+arU9N4PMm7WqxbUbXg4wqneW02ZfpMw==" />
  <label>Post title:</label><br>
  <input type="text" name="post[title]" id="post_title" /><br>
 
  <label>Post description:</label><br>
  <textarea name="post[description]" id="post_description">
</textarea><br>
 
  <input type="submit" name="commit" value="Submit Post" />
</form>

<%= params.inspect %>